# merge this into /etc/webiopi/config in order to use the custom-gpio-adc example webiopi control panel.

[GPIO]
# Initialize following GPIOs with given function and optional value
# This is used during WebIOPi start process
4  = IN
17 = IN
18 = IN
22 = IN
23 = OUT 0
24 = OUT 0
25 = OUT 0
27 = OUT 0

#------------------------------------------------------------------------#

[~GPIO]
# Reset following GPIOs with given function and optional value
# This is used at the end of WebIOPi stop process
4  = IN
17 = IN
18 = IN
22 = IN
23 = IN
24 = IN
25 = IN
27 = IN

[DEVICES]
adc0 = ADS1115
